/* variables */
:root {
  --linear-slider: 10s linear infinite;
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.overlay {
  top: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0);
  transition: 0.3s ease 0.1s;
  &.open {
    background: rgba(0, 0, 0, 0.25);
  }
}

a {
  color: var(--blue);
  text-decoration: none;
  position: relative;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  svg > path {
    stroke: var(--blue);
  }
}
.arrow {
  max-width: 1rem;
  max-height: 1rem;
}
.link {
  display: flex;
  align-items: end;
  justify-content: end;
  font-weight: 700;
  gap: 0.5rem;
}

.btn {
  align-items: center;
  background: var(--white);
  display: flex;
  height: 48px;
  color: var(--black);
  border: 1px solid var(--black);
  stroke: initial;
  > * {
    display: grid;
    place-content: center;
  }
  span {
    border-right: 1px solid var(--black);
    padding: 14px 16px;
    height: 100%;
  }
  div {
    height: 100%;
    width: 48px;
    height: 48px;
  }
  svg > path {
    stroke: var(--black);
  }
  cursor: pointer;
}

a > div > img {
  transition: var(--bounce);
}

a:hover > div > img {
  transform: translateX(5px);
}

a:active {
  background-color: var(--important);
}

/* content */
main > * {
  grid-column: 1 / -1;
  margin: 48px 0;
  &:last-child {
    margin-bottom: 0;
  }
}

main {
  grid-auto-rows: max-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: baseline;
  padding: 0 16px;
  margin: 0 auto 16px 0;
}

/* companies block */
.companies-block {
  overflow: hidden;
  height: fit-content;
  margin-left: -16px;
  margin-right: -16px;
  border: 1px solid var(--black);
  border-width: 1px 0;
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  .group:nth-child(1) {
    animation: moveLeft var(--linear-slider);
    &:hover {
      animation-play-state: paused;
    }
  }
  .group:nth-child(2) {
    transform: translateX(-50%);
    animation: moveRight var(--linear-slider);
    &:hover {
      animation-play-state: paused;
    }
  }
  > div {
    flex-wrap: wrap;
  }
  div {
    display: flex;
    /* md+ screen */
    img {
      aspect-ratio: 1;
      min-width: clamp(120px, 15vw, 176px);
      min-height: clamp(120px, 15vw, 176px);
      object-fit: cover; /* Cover the entire area, cropping if necessary */
      display: block; /* Remove bottom whitespace */
    }
  }
}
@keyframes moveLeft {
  to {
    transform: translateX(-50%);
  }
}
@keyframes moveRight {
  to {
    transform: translateX(0);
  }
}

/* end of companies block */

/* content block */

.content-block > * {
  grid-column: 1 / -1;
  text-align: center;
}
.content-block {
  justify-items: center;
  gap: 16px 16px;
  span:nth-child(1) {
    width: fit-content;
  }
  div {
    flex-direction: column;
    @media (min-width: 769px) {
      flex-direction: row;
    }
  }
  > a {
    margin-top: 1rem;
  }
  &:has(h1) {
    margin-bottom: 8.125rem;
    > div {
      margin-top: 1.5rem;
    }
  }
}
.content-block :not(h1) span:not(a > span) {
  color: rgba(204, 0, 0, 1);
}
.content-block > div:not(:has(h1)) {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

/* not sure if this is allowed */
.content-block h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* end of content block */

/* events block */
.events-block {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--black);
  border-width: 1px 0;
  margin-left: -16px;
  margin-right: -16px;
  @media (min-width: 660px) {
    margin-left: -48px;
    margin-right: -48px;
  }
  > div {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--black);
    padding: 3.375rem;
    gap: 2rem;
    img {
      width: 100%;
      object-fit: cover;
    }
    article {
      margin-bottom: 3.5rem;
      /* alle child elementen met een neighbor in de div behalve de laatste */
      > * + *:not(:last-child) {
        margin: 1rem 0;
      }
    }
    a {
      margin-bottom: 4.75rem;
      width: fit-content;
    }
  }
  ul {
    padding: 3rem;
    height: 100%;
    width: 100%;
    flex-direction: column;
    h3 {
      text-transform: none;
    }
    li {
      height: fit-content;
      margin-bottom: 32px;
      > *:not(:last-child) {
        margin: 1rem 0;
      }
      div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem 0;
        p {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
    li:last-child {
      margin: 0;
    }
    li + li {
      padding-top: 2rem;
      border-top: 1px solid var(--black);
    }
  }
}
/* end of events block */

header {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 -16px 0 0 var(--white);
}
header img {
  min-height: 40px;
  max-height: 60px;
  height: 100%;
}

/* container */
.container {
  max-width: 1440px;
  min-height: calc(100% - 18px);
  width: 100%;
  @media (min-width: 769px) {
    margin: 0 1rem;
  }
}

nav {
  position: relative;
  height: 80px;
  padding: 12px 14px;
  background: var(--white);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
  position: relative;
  /* overflow: hidden; */
  .nav-items {
    max-width: 360px;
    width: 100%;
    z-index: 30;
    border-top: 1px solid var(--black);
    padding: 0 24px;
    background: var(--white);
    top: 0;
    height: 100%;
    right: -376px;
    position: fixed;
    transition: 0.3s ease 0.1s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    ul {
      padding: 48px 0;
      &:first-of-type {
        border-bottom: 1px solid var(--black);
        > * {
          margin: 48px 0;
          &:first-of-type,
          &:last-of-type {
            margin: 0;
          }
        }
      }
      &:last-of-type > :first-child {
        margin-bottom: 24px;
      }
      li {
        a {
          color: var(--black);
          &.active {
            color: var(--blue);
            font-weight: 700;
          }
          span {
            padding: 0 0.25rem;
            font-size: 0.75rem;
            background-color: var(--blue);
            height: fit-content;
            line-height: 1rem;
            color: var(--white);
          }
        }
      }
    }
  }
  .nav-items.open {
    right: 0;
    top: 0;
  }
  > a:has(:not(img)) {
    text-align: center;
    height: 100%;
    aspect-ratio: 1;
    z-index: 100;
    padding: 0.5rem;
    color: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--black);

    .lines {
      background: var(--blue);
      display: block;
      background: var(--black);
      height: 3px;
      width: 100%;
      &:nth-child(2) {
        width: 80%;
      }
    }
  }
}

section {
  display: grid;
  height: fit-content;
  grid-template-columns: subgrid;
}

/* md and lg screens */
@media screen and (min-width: 660px) {
  /* header | nav */

  header {
    /* zorgt ervoor dat de content / page layout niet shift */
    height: 178px; /* md+ */
    top: 16px;

    /* hide de borders van de main */
    img {
      max-height: 80px;
    }
  }

  nav {
    padding: 0.75rem 1rem;
    height: fit-content;
    border: 1px solid var(--black);
    .nav-items {
      display: flex;
    }
    top: 0;
    .nav-items.open {
      top: 0;
    }
  }

  /* 
stomme 'hack'
maar dit zorgt er wel voor dat de scroll header op elke browser werkt :)
*/
  header::before,
  header::after {
    content: "";
    background: var(--black);
    position: absolute;
    z-index: -1;
    top: 50%;
    height: 50%;
    width: 1px;
  }
  header::before {
    left: 0;
  }
  header::after {
    right: 0;
  }

  nav ul li span {
    font-weight: 300;
  }
  /* end of nav | header */

  .content-block {
    grid-column: 3 / 11;
  }
  .companies-block {
    margin-left: -48px;
    margin-right: -48px;
  }

  .events-block {
    > div {
      flex-direction: row;
      padding: 3rem;
      img {
        width: 50%;
      }
    }
  }

  main {
    padding: 0 48px;
    border: 1px solid var(--black);
    border-top: none;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    gap: 0 32px;
  }

  /* md+ nav | header */
  nav {
    height: 178px;
    padding: 48px;
    border-bottom: 1px solid transparent;
    transition: 0.2s ease;
  }
  nav.scrolled {
    height: 114px;
    padding: 16px 48px;
    border-bottom: 1px solid var(--black);
  }
  /* end of md+ nav | header */

  .container {
    margin: 0px 16px;
  }
}
/* end of md and lg screens */
/* hamburger menu removal */
@media screen and (min-width: 1180px) {
  .overlay.open {
    background-color: rgba(0, 0, 0, 0);
  }
  .burger {
    display: none;
  }

  nav {
    color: var(--black);
    width: 100%;
    .nav-items {
      position: initial;
      max-width: unset;
      background: initial;
      flex-direction: row;
      border: none;
      ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: end;
        padding-top: 1rem;
        gap: clamp(1rem, 3vw, 3rem);
        &:first-of-type {
          border: none;
          text-wrap: nowrap;
          width: 60%;
          justify-content: start;
          margin: 0 48px;
          gap: 2rem;
          width: 100%;
          > * {
            margin: initial;
          }
        }
        li {
          height: fit-content;
          a {
            color: inherit;
            display: flex;
            align-items: center;
            gap: 0.375rem;
          }
        }
      }
    }
    div.open::before {
      display: none;
    }
  }

  .events-block {
    flex-direction: row;
    > div {
      gap: 0;
      flex-direction: column;
      border-bottom: 0;
      border-right: 1px solid var(--black);
      img {
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }
  }
}
::selection {
  background-color: var(--important);
  color: var(--white);
}

ul {
  list-style-type: none;
}
